<a href="https://colab.research.google.com/github/Fariqmr/Tugasplg/blob/main/DasarPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Variabel

variable adalah sesuatu yang dapat berubah. Variabel ini digunakan untuk merujuk menuju lokasi memori oleh program komputer.

**Integer**

Integer adalah angka numerik yang dapat berupa nilai positif, negatif, atau nol tanpa memiliki angka desimal

In [ ]:
num = 39
print(num)
39
type(num)

39

int

**Float**

Float adalah angka numerik sama seperti integer , namun ada sedikit perbedaan, yaitu adanya angka desimal

In [ ]:
num = 39.0
print(num)
39.0
type(num)

39.0

float


**String**

String adalah kumpulan beberapa karakter atau integer. String tersebut direpresentasikan dengan menggunakan tanda quotes (double ataupun single).

In [ ]:

test = "Hallo semua"
print(test)
"Hallo semua"
type(test)

Hallo semua

str

**Boolean**

Boolean adalah operator biner yang hanya memiliki dua nilai output yaitu True atau False.

In [ ]:
anda_robot = False
print(anda_robot)
False
type(anda_robot)

False

bool

Di sini kita telah menetapkan nilai False kepada variable anda_robot. Jenis variabel ini adalah boolean. Kita hanya dapat menetapkan True atau False. Perlu di ingat bahwa T dan F harus berupa huruf kapital atau kita akan mendapatkan pesan error code ini:
anda_robot = false
print(anda_robot)
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<ipython-input-147-4473960a0737> in <module>
----> 1 anda_robot = false
      2 print(anda_robot)

NameError: name 'false' is not defined

**NoneType**


NoneType digunakan ketika variable tidak memiliki nilai, seperti pada contoh di bawah

In [ ]:
num = None
print(num)
None
type(num)

None

NoneType

#Operator

Operator adalah simbol aritmatika pada bahasa pemrograman Python atau bahasa lainnya


**Operator Aritmatika**

Operator yang akan kita bahas adalah penambahan, pengurangan, perkalian, eksponensial, modulus, dan pembagian. Mari kita lihat operasi aritmatika sederhana pada bahasa pemrograman Python.

In [ ]:
a= 5
b= 3
c=a+b
print(c)

8

Untuk lebih jelasnya, dapat kita lihat pada contoh di bawah ini:

a + b # Penambahan
8
a - b # Pengurangan
4
a * b # Perkalian
12
a / b # Pembagian
3.0
a ** b # Eksponensial
36

Contoh untuk menguji operator aritmatika lainnya:
a = 7
b = 3
a % b # Modulus (sisa pembagian)
1
a // b # Floor division (di bulatkan ke bawah)
2

**Operator pembanding**

Contoh operator pembanding adalah sama dengan, lebih besar dari, serta kurang dari.
a = 5
b = 2
a > b # Lebih besar
True
a < b # kurang dari
False
a == b # sama dengan
False
a >= 5 # lebih besar atau sama dengan
True
b <= 1 # lebih kecil atau sama dengan
False

In [ ]:
a=5
b=2
c=a>b
print(c)

True

**Operator logika**

Operator ini "tidak termasuk", "dan", "dan atau"
a = 10
b = 2
a == 2 and b == 10 # dan
False
a == 10 or b == 10 # atau
True
not(a == 10) # tidak
False
not(a == 2)
True

In [ ]:
a=10
b=2
a==2 and b==10

False

#Conditional Statement

**Kondisi Pertama**

In [ ]:
angka = 5
if angka == 10:
    print("angka adalah 10")
elif angka < 10:
    print("angka adalah kurang dari 10")
else:
    print("angka adalah lebih dari 10")

angka adalah kurang dari 10

**Kondisi Kedua**

In [ ]:
anda_robot = False
if anda_robot:
    print ("Ya, saya robot")
else:
    print ("bukan, saya manusia")

bukan, saya manusia

**Kondisi Ketiga**

In [ ]:
anda_robot = False
if not anda_robot:
    print ("Ya, saya robot")
else:
    print ("bukan, saya manusia")

Ya, saya robot

**Kondisi Keempat**

In [ ]:
data = None
if data:
    print ("data bukan none")
else:
    print ("data adalah none")

data adalah none

**Kondisi Kelima**

In [ ]:
a = 10
b = 5
if a > b: print("a lebih besar dari b")

a lebih besar dari b

**Kondisi Keenam**

In [ ]:
num = 5
print("Angka adalah lima ") if num == 5 else print("Angka bukan lima")

Angka adalah lima

**Kondisi Ketujuh**

In [ ]:
num = 25
if num > 10:
    print("Angka lebih besar dari 10")
    if num > 20:
        print("Angka lebih besar dari 20")
    if num > 30:
        print("Angka lebih besar dari 30")
else:
    print("Angka lebih kecil dari 10")

Angka lebih besar dari 10
Angka lebih besar dari 20

**Kondisi Kedelapan**

In [ ]:
num = 10
if num > 5 and num < 15:
     print(num)
else:
     print("Angka bisa lebih kecil dari 5 atau lebih besar dari 15")

10

**Kondisi Kesembilan**

In [ ]:
num = 10
if num > 5 or num < 7:
     print(num)

10

#For Loops

In [ ]:
for i in range(3):
   print("Hai")

Hai
Hai
Hai